/*//META{"name" : "Acute", "description" : "A simple, sharp theme.", "author" : "Metalloriff", "version":"1.0"}*//*/

/*

If you want to use my crappy first theme, either download the theme file to %appdata%/BetterDiscord/themes, or put this at the top of your custom CSS:
	@import url("https://rawgithub.com/Metalloriff/BetterDiscordThemes/master/Acute.theme.css");

If you want to change the variables, copy the ":root" block below into your custom CSS, and insert "!important" after every variable you change. Example:
	--font: Whitney !important;

If you want to use a custom background image, set the background-image variable to "url("YOURURL.png/jpg/etc")". Example:
	--background-image: url("https://derpicdn.net/img/view/2016/4/25/1139834.jpeg") !important;

*/

/* variables */

:root {
	--primary-color: rgb(35, 130, 255);
	--secondary-color: rgb(114, 137, 218);
	--online-color: rgb(0, 157, 255);
	--idle-color: rgb(255, 203, 33);
	--dnd-color: rgb(255, 45, 56);
	--offline-color: rgb(25, 25, 25);
	--background-image: transparent;
	--background-type: cover;
	--chat-avatar-size: 70px;
	--global-background-darkness: 0.4;
	--light-darkness: rgba(0, 0, 0, 0.3);
	--medium-darkness: rgba(0, 0, 0, 0.5);
	--heavy-darkness: rgba(0, 0, 0, 0.9);
	--font: Helvetica; /* Default is Whitney */
	--message-spacing: 5px;
	--show-unread-messages-bar: 1;
	--rounding-level: 0%;
	--window-rounding-level: 5px;
	--fade-time: 0.2s;
}

* { font-family: var(--font) !important; }

/* Plugin things. For each of these plugins that you have, take them out of this comment block, or put them in your custom CSS.

DateViewer and Member Count:

#dv-mount, #memberCount { background-color: rgba(0, 0, 0, var(--global-background-darkness)) !important; }

MemberCount:

#memberCount { padding-bottom: 0px !important; padding-top: 9px !important }

Date Viewer:

#dv-mount { height: 75px !important; }

#dv-main { border: 0px !important; }

CharCounter:

#charcounter { right: 7%; bottom: 30%; }

OwnerTags:

.kawaii-tag { border-radius: var(--rounding-level) !important; height: 14px !important; }

MentionAliases:

.ma-usertag { transition: color var(--fade-time); }
.ma-usertag:hover { color: black !important; }

*/

.container-iksrDt, .container-3lnMWU, .typing-3eiiL_, .appMount-14L89u, .layer-kosS71, .layers-20RVFW, .container-2OU7Cz, .chat, .content, .messages-wrapper, .title-qAcLxz, .container-RYiLUQ, .flex-spacer.flex-vertical > form {
	background: transparent !important;
	background-color: transparent !important;
}

/* Friends */

#friends, .friends-row:hover, .scrollbarGhost-K_3Xa9.scrollbar-11WJwo.hljs, .userSettingsAccount-2WOnTW > div > div, .backdrop-2ohBEd {
	background-color: var(--light-darkness) !important;
	background: var(--light-darkness) !important;
}

#friends .tab-bar .tab-bar-item { border-radius: var(--rounding-level); }

.friends-action { background-color: var(--medium-darkness); }

.app, .callout-backdrop, .userPopout-4pfA0d::before {
	background: var(--background-image) !important;
	background-size: var(--background-type) !important;
}

/* Channels */

.innerEnabledNoAttach-36PpAk.inner-3if5cm.flex-3B1Tl4.innerNoAutocomplete-kaUXJZ, .channel.selected.private > a, .innerEnabled-gLHeOL, .contentSelectedText-3j5CXt.content-2mSKOj, .contentHoveredText-2HYGIY.content-2mSKOj {
	border-left: 5px solid var(--primary-color);
}

.name-2SL4ev, .channelName-1G03vu {
	text-transform: capitalize;
}

.colorDefaultText-2v6rRX, .colorHoveredText-1CsxK1, .colorLockedText-2onHWv, .colorSelectedText-3YhFC6, .colorUnreadText-1KwCnP, .titleText-2IfpkV > span > svg {
	display: none;
}

.nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw, .nameHoveredText-2FFqiz, .nameHoveredVoice-TIoHRJ {
	color: var(--primary-color);
}

.unreadBar-3lDSDn.unread-2TDDFN.active-2wuntj { background-color: var(--medium-darkness) !important; opacity: var(--show-unread-messages-bar); }

.nameMutedText-1YDcP-.name-2SL4ev.overflowEllipsis-3Rxxjf { color: white; opacity: 0.4; }

.nameDefaultVoice-1swZoh.name-2SL4ev.overflowEllipsis-3Rxxjf, .nameDefaultText-QoumjC.name-2SL4ev.overflowEllipsis-3Rxxjf {
	color: white; opacity: 0.7;
}
.nameDefault-Lnjrwm.colorTransition-2iZaYd.overflowEllipsis-2ynGQq { color: white; }

.contentUnreadText-3oxASB.content-2mSKOj > div:nth-child(1) > svg, .nameUnreadText-1pxldj.name-2SL4ev.overflowEllipsis-3Rxxjf { color: white !important; opacity: 1 !important; }
.contentUnreadText-3oxASB.content-2mSKOj { background-color: var(--light-darkness); }

*:hover > .unread-23Kvxk { display: none; }

*:not(:hover) > .unread-23Kvxk {
	border-radius: var(--rounding-level);
	width: 5px;
	height: 32px;
	top: 1px;
	margin-top: 0%;
	background-color: var(--secondary-color);
}

.containerDefault-7RImuF > div {
	transition: transform var(--fade-time);
}

.containerDefault-7RImuF:hover > div {
	transform: translateX(5px);
}

.iconSpacing-5GIHkT {
	margin-right: 5px;
	margin-left: 0px;
}

.scroller-fzNley { overflow-x: hidden; }

.unread-mentions-indicator-bottom > div, .embedPill-3sYS1X { background-color: var(--primary-color) !important; border-radius: var(--rounding-level) !important; }

.themeGhostHairlineChannels-2lQojW.scrollerFade-28dRsO > div > div > div > div > div > div > svg {
	color: white;
	opacity: 1;
}

.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignCenter-3VxkQP.noWrap-v6g9vO.margin-reset {
	transform: translateY(5px);
}

.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .iconHovered-3PRzOR, .iconHoveredCollapsed-jNYgOD, .iconMuted-Hb4ttQ, .colorMutedText-2DBGZ2 {
	display: none;
}

.nameCollapsed-3_ChMu, .nameDefault-Lnjrwm, .nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI, .nameMuted-1n0LSj {
	text-transform: capitalize;
	color: white !important;
	text-align: center;
	transform: translateX(-12px) !important;
	line-height: 30px;
}

.wrapperCollapsed-18mf-c, .wrapperDefault-1Dl4SS, .wrapperHovered-1KDCyZ, .wrapperHoveredCollapsed-25KVVp, .wrapperMuted-PmsxPn, .wrapperUnread-450E16 {
	height: 30px;
	background-color: var(--light-darkness);
	margin-bottom: 5px;
	margin-top: 15px;
}

.containerDefault-1bbItS, .containerDragAfter-3O-noP, .containerDragBefore-2hcouM, .containerUserOver-3O3u5c {
	padding: 3px;
}

.message-group {
	background: transparent; transition: background var(--fade-time) linear;
	margin-left: 0px;
	padding-left: 20px;
	margin-right: 0px;
	padding-right: 6px;
}
.message-group:hover { background: var(--light-darkness); }

.markup { color: white !important; padding-top: var(--message-spacing); }

.member-activity-text { color: white !important; }

.botTag-1OwMgs {
	border-radius: var(--rounding-level);
	background-color: var(--secondary-color);
}

div, span:not(.spinner-item) { backface-visibility: hidden; }

#app-mount > div.app-XZYfmp.platform-win > div > div.layers-20RVFW.flex-vertical.flex-spacer > div > div > div.guilds-wrapper > div.scroller-wrap > div > div.guild > div, .modal-3HOjGZ, .footer-1PYmcw {
	background-color: var(--heavy-darkness) !important;
	transition: background-color var(--fade-time);
}

#app-mount > div.app-XZYfmp.platform-win > div > div.layers-20RVFW.flex-vertical.flex-spacer > div > div > div.guilds-wrapper > div.scroller-wrap > div > div.guild > div:hover {
	background-color: var(--primary-color) !important;
}

#app-mount > div.app-XZYfmp.platform-win > div > div.layers-20RVFW.flex-vertical.flex-spacer > div > div > div.guilds-wrapper > div.scroller-wrap > div > div.guild.active > div:not(:hover) {
	background-color: var(--secondary-color) !important;
}

.theme-light .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code, .theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code, .theme-dark .message-group .comment .markup pre, .theme-light .message-group .comment .markup pre {
	border-radius: var(--rounding-level);
	background: var(--medium-darkness);
	border: none;
	color: white;
}

.theme-dark .hljs, .theme-light .hljs {
	color: white;
}

.modal-2LIEKY > div > div, .userPopout-11hFKo, .quickMessage-318jK-.quickMessage-OCo-Q0, .member:hover, .member.member-status.member-status-online.popout-open, .member.member-status.member-status-idle.popout-open, .member.member-status.member-status-dnd.popout-open, .member.member-status.member-status-offline.popout-open, .body-3_tdh6, .topSectionNormal-2LlRG1, .messages-popout-wrap, .messages-popout-wrap > .header, .messages-popout-wrap > .footer, .message-group-blocked-btn, .message-group-blocked { border-radius: var(--window-rounding-level) !important; background: var(--medium-darkness) !important; }

.tooltip {
	border-radius: var(--rounding-level);
	background: var(--heavy-darkness);
}

.action-buttons {
	background-color: var(--light-darkness) !important;
	box-shadow: none !important;
	border-radius: var(--rounding-level) !important;
}

.action-buttons > div {
	border-radius: var(--rounding-level) !important;
	background-color: var(--primary-color) !important;
	color: white !important;
	opacity: 1 !important;
}

.action-buttons > div > div {
	color: white !important;
}

.action-buttons > .close-button {
	height: 18px !important;
	width: 18px !important;
	margin-top: 0px !important;
}

.flex-spacer.flex-vertical > div > div > div > div > button { border-radius: var(--rounding-level) !important; background-color: var(--medium-darkness) !important; color: white !important; }

.container-2oOGIt { background-color: var(--heavy-darkness); }

.new-messages-bar { background-color: var(--light-darkness) !important; border-radius: var(--rounding-level) !important; }

.scrollbarGhostHairline-D_btXm.scrollbar-11WJwo:focus, .wrapperHoveredText-1PA_Uk.wrapper-fDmxzK, .item-1XYaYf.itemSubMenu-3ZgIw- { background-color: transparent !important; }

::-webkit-scrollbar-track-piece {
	border: none !important;
	background: transparent !important;
}

:hover::-webkit-scrollbar-track-piece {
	border: none !important;
	background: var(--medium-darkness) !important;
}

::-webkit-scrollbar-thumb {
	border: none !important;
	background-color: var(--primary-color) !important;
	border-radius: var(--rounding-level) !important;
}

::-webkit-scrollbar { max-width: 5px; }

.innerEnabledNoAttach-36PpAk.inner-3if5cm.flex-3B1Tl4.innerNoAutocomplete-kaUXJZ, .channel.selected.private > a, .innerEnabled-gLHeOL, .contentSelectedText-3j5CXt.content-2mSKOj, .contentHoveredText-2HYGIY.content-2mSKOj {
	background-color: var(--medium-darkness) !important;
	border-radius: var(--rounding-level) !important
}

.theme-dark .inner-3if5cm, .theme-light .inner-3if5cm { background-color: var(--medium-darkness); border-radius: var(--rounding-level); color: transparent; }
.channelTextAreaDisabled-TBtxS6 { opacity: 1; }

.channel.private, .channel.private > a { background-color: transparent !important; }
.channel.private:hover, .channel.private > a:hover { background-color: var(--light-darkness) !important; }
.channel.selected.private > a { background-color: var(--secondary-color) !important; }

.contextMenu-uoJTbz.theme-dark, .contextMenu-uoJTbz.theme-light, .theme-dark.popouts > div > div > div.scroller-wrap.dark > div > div { background-color: var(--heavy-darkness) !important; border-radius: var(--rounding-level) !important; }
.item-1XYaYf:hover { background-color: var(--medium-darkness) !important; border-radius: var(--rounding-level) !important; }

/* user statuses */

.status-online { border:2px solid var(--online-color) !important; background-color: var(--online-color); }
.statusOnline-1Mp2_H { border:2px solid var(--online-color) !important; }

.status-idle { border:2px solid var(--idle-color) !important; background-color: var(--idle-color); }
.statusIdle-2AQdvu { border:2px solid var(--idle-color) !important; }

.status-dnd { border:2px solid var(--dnd-color) !important; background-color: var(--dnd-color) }
.statusDnd-35xAXU { border:2px solid var(--dnd-color) !important; }

.status-offline { border:2px solid var(--offline-color) !important; background-color: var(--offline-color) }

.status-2Devx1, .avatar-small .status {
	width: 0px;
	height: 87%;
	border-radius: var(--rounding-level);
	bottom: 0px;
	right: 100%;
}

.status-typing, .statusTyping-lRly31 {
	background-color: var(--medium-darkness);
	left: 0%;
	border-radius: var(--rounding-level) !important;
}

/* User Popouts */

.theme-dark .note-2AtC_s textarea {
	background-color: var(--medium-darkness);
}

.avatarWrapperNormal-JT1DFd.avatarWrapper-39HKca, .avatarWrapperNormal-JT1DFd.avatarWrapper-39HKca > div:nth-child(1) {
	width: 230px;
	height: 230px;
}

.statusProfile-29OBzn {
	width: 220px;
	height: 220px;
	right: 0%;
	top: 0%;
	border-width: 5px !important;
	border-radius: var(--rounding-level);
	background-color: transparent;
	box-shadow: none;
}

.role-3rahR_, .roleCircle-3-vPZq {
	border-radius: var(--rounding-level);
	background-color: black;
}

#app-mount > div:nth-child(5) > div.modal-2LIEKY > div > div > div> header > div.avatar-1BXaQj.profile-3z9uol.avatar-4g_GO6 > div:nth-child(2) {
	width: 80px;
	height: 80px;
}

.headerTop-27AvhA { padding: 10px 10px; }

.embedInner-t4ag7g { background: var(--light-darkness) !important; border-radius: var(--rounding-level) !important; }

.guilds-wrapper .guilds .guild+.guild:not(:first-child) { margin-top: 15px; }

.guilds-wrapper .guilds-add, .guild-inner { border-radius: var(--rounding-level) !important; }

.guild { transition: transform 0.5s; }
.guild:hover, .guild.selected { transform: scale(1.2); }

.guilds-wrapper .guilds .guild.selected:before {
	background: var(--primary-color) !important;
	height: 100%;
	width: 10%;
	top: 0%;
	left: -10%;
	margin-top: 0%;
	border-radius: var(--rounding-level);
}

.guilds-wrapper .guilds .guild.unread:before {
	background: var(--secondary-color);
	height: 100%;
	width: 10%;
	top: 0%;
	left: -10%;
	margin-top: 0%;
	border-radius: var(--rounding-level);
}

.guilds-wrapper > div.scroller-wrap > div > div.guild.unread.audio > div.badge, .guilds-wrapper > div.scroller-wrap > div > span > div > div.badge {
	background-color: var(--light-darkness);
	border-radius: var(--rounding-level) !important;
	height: 90%;
	width: 75%;
	top: 0%;
	left: 0%;
	font-size: 150%;
	text-align: center;
	line-height: 180%;
}

/* Buttons */

.grow-25YQ8u {
	border-radius: var(--window-rounding-level);
}

.grow-25YQ8u.lookFilled-luDKDo.colorBrand-3PmwCE, .lookFilled-luDKDo.colorGreen-22At8E {
	background-color: var(--primary-color);
	transition: background-color var(--fade-time);
}
.grow-25YQ8u.lookFilled-luDKDo.colorBrand-3PmwCE:hover, .lookFilled-luDKDo.colorGreen-22At8E:hover { background-color: var(--secondary-color); }

.item-3879bf, .connection-2r9Zua { border-radius: var(--rounding-level) !important; }
.item-3879bf:hover { background-color: var(--medium-darkness) !important; }

.channels-wrap, .activityFeed-HeiGwL, #friends .headerBar-cxbhPD, .lfg-3xoFkI, .app .guilds .guild.active:first-child, .headerPlaying-2Q7mBy, .userPopout-11hFKo .headerStreaming-lmgoma, .userPopout-11hFKo .body-3ljq11, .userPopout-11hFKo .footer-2wFs91, .headerNormal-3Vn9nT, .headerStreaming-lmgoma, .title-wrap, .members-1bid1J, .private-channel-call, .content .flex-spacer, .friends-table, .friends-header, .headerSpotify-26yUf5, .channels-3g2vYe, #app-mount .titleWrapper-3Vi_wz, .app .guilds .guild:first-child, .members-1bid1J::after, .guilds-wrapper, .ui-standard-sidebar-view, .sidebar-region, .content-region, .members-1bid1J, .noChannel-2EQ0a9 {
    background: rgba(0, 0, 0, var(--global-background-darkness)) !important;
}

/* Members */

.members-1bid1J.loading {
	opacity: 0 !important;	
}

.username-MwOsla, .members-1bid1J .botTag-1OwMgs + .members-1bid1J .botTag-1OwMgs { font-size: 15px; }
.memberInner-3XUq9K { width: 160px; }
.nameTag-26T3kW { white-space: normal; }
.member-2FrNV0 { height: auto; }

.membersGroup-3_dP5E {
	background-color: var(--light-darkness);
	margin: 5px;
	margin-top: 30px;
	padding: 0px;
	height: 30px;
	text-transform: capitalize;
	color: white !important;
	text-align: center;
	line-height: 30px;
}

.member-2FrNV0:hover .content-3JzEqq, .member-2FrNV0.popout-open .content-3JzEqq, .member-2FrNV0.popout-open:hover .content-3JzEqq {
	background-color: var(--medium-darkness) !important;
	border-radius: var(--rounding-level);
}

.icon-33Frxe {
	fill: var(--primary-color);
	opacity: 0.5;
}

.icon-1NXYub, .icon-1NXYub > path {
	fill: var(--secondary-color);
	opacity: 0.5;
}

.avatarSpeaking-3teDH6 {
	box-shadow: 0 0 0 3px var(--primary-color);
}

.avatarContainer-303pFz.margin-reset > div {
	border-radius: var(--rounding-level);
	background-size: cover !important;
	width: 32px;
	height: 32px;
}

.draggable-3SphXU:not(:first-child) { margin-top: 15px; }
.nameDefault-1I0lx8, .nameSpeaking-3ROx9q, .nameHovered-28u_Fz {
	font-size: 18px;
	color: white;
}
.nameSpeaking-3ROx9q { color: var(--primary-color) !important; }

.callAvatar-i2aKmR.voice-3qolcc, .callAvatarBorder-OF5XZJ.voice-3qolcc.speaking-dRlv0T, .image-EVRGPw { border-radius: var(--rounding-level) !important; }
.callAvatarBorder-OF5XZJ.voice-3qolcc.speaking-dRlv0T { box-shadow: 0 0 0 5px var(--primary-color); }

/* Chat Things */

.divider:not(.divider-red) { margin-bottom: 15px; margin-top: 13px; }
.divider > div, .divider::before { display: none !important; }

.divider.divider-red > span {
	background-color: var(--medium-darkness);
	color: var(--secondary-color) !important;
	opacity: 0.9;
	border-radius: var(--rounding-level);
	margin-bottom: 50px;
	margin-top: 50px;
	left: 45%;
	transform: scale(1.25, 1.25) translateY(11px);
}

.divider > span {
	background-color: var(--medium-darkness) !important;
	border-radius: var(--rounding-level) !important;
	color: rgba(255, 255, 255, 0.8) !important;
}

.chat .avatar-large {
	background-color: var(--medium-darkness);
	width: var(--chat-avatar-size);
	height: var(--chat-avatar-size);
	background-size: cover;
	border-radius: var(--rounding-level);
}

.chat .avatar-large:hover {
	opacity: 1;
}

.chat .user-name {
	transition: color var(--fade-time);
}

.chat .user-name:hover {
	text-decoration: none;
}

.iconBadge-1FYlQB, .badge, .guilds-wrapper .guilds .guild .badge {
	border: 0px;
	background-color: var(--medium-darkness);
}

.videoHeight-iWOJGF.minimum.minimum-Eac95h.private-channel-call.animated-2tXqxn > div { background-color: rgba(0, 0, 0, 0.2); }

.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge, .avatar-popout, .avatar-hint, .avatar-wrapper, .image-EVRGPw.mask-2vyqAW, .guildIconImage-12ar3e { background-color: var(--medium-darkness); border-radius: var(--rounding-level); }

.image-EVRGPw.mask-2vyqAW { -webkit-mask: none; } /* fuck you, Discord update */

.separator-1hpa3S { border-bottom: 1px solid var(--primary-color) !important; opacity: 0.5; }

.menu-3BZuDT, .item-rK1j5B:hover, .friends-online:hover { background-color: rgba(0, 0, 0, 0.8); border-radius: var(--rounding-level) !important; color: white !important; }

.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyCenter-29N31w.alignCenter-3VxkQP.noWrap-v6g9vO.avatarHint-2ohlkz.maskProfile-MeBve8.mask-2vyqAW.size10-1ZEdeK.height12-1-l4d8.weightBold-2qbcng, .image-EVRGPw.maskProfile-MeBve8.mask-2vyqAW { border-radius: var(--rounding-level); -webkit-mask: none; }

.toast {
	opacity: 1 !important;
	transition: opacity, filter var(--fade-time) !important;
	border-radius: var(--rounding-level) !important;
	background: var(--medium-darkness);
}

.toast:hover {
	opacity: 0.3 !important;
	filter: blur(2px);
}

.theme-dark .message-group .comment .message-send-failed .markup, .theme-dark .message-group .comment .message-send-failed a {
	color: red !important;
	background-color: var(--medium-darkness);
	padding: 5px;
	opacity: 0.6;
}

.theme-dark .message-group .comment .message-send-failed .markup::after, .theme-dark .message-group .comment .message-send-failed a::after {
	content: "		-FAILED TO SEND";
	color: red;
	position: relative;
}

.message-sending > .body > .message-text > .markup {
    color: #A5A5A5 !important;
    animation-name: message-sending-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.message.mentioned > .body > .message-text {
	background-color: var(--medium-darkness);
	padding-bottom: var(--message-spacing);
}

.message.mentioned > .body > .message-text::after {
	border-left: 5px solid var(--primary-color);
	border-radius: var(--rounding-level);
}

.message-group .message .markup a, .theme-dark .message-group a {
	color: var(--primary-color);
	transition: color var(--fade-time);
}

.message-group .message .markup a:hover {
	color: white;
	text-decoration: none;
}

.mention { color: var(--primary-color); transition: color var(--fade-time) linear; }
.mention:hover { color: white !important; }

/* Reactions */

.theme-dark .reaction {
	background-color: var(--medium-darkness);
}

.theme-dark .reaction > .emoji, .theme-dark .reaction.reaction-me > .emoji {
	min-height: 30px;
	min-width: 30px;
	height: 30px;
	width: 30px;
}

.theme-dark .reaction > .emoji:hover, .theme-dark .reaction.reaction-me > .emoji:hover { transform: scale(1); }

.theme-dark .reaction.reaction-me { background-color: var(--primary-color); }

.theme-dark .reaction, .theme-dark .reaction.reaction-me { transition: transform var(--fade-time); }

.theme-dark .reaction:hover, .theme-dark .reaction.reaction-me:hover { transform: scale(2); z-index: 100; }

.theme-dark .reaction.reaction-me .reaction-count, .theme-dark .reaction .reaction-count {
	color: white;
	line-height: 35px;
}

.timestamp, .topic-1KFf6J {
	transition: color var(--fade-time) linear;
	padding-left: 5px;
}

.message-group h2 .timestamp { text-transform: uppercase; }

.timestamp:hover, .topic-1KFf6J:hover {
	color: white !important;
}

::selection {
	background: var(--primary-color);
	color: white;
}

.theme-dark .wrapper-uAa07y, .theme-light .wrapper-uAa07y, .theme-dark .attachment-1Vom9D, .theme-light .attachment-1Vom9D {
	border-radius: var(--rounding-level);
	background-color: var(--medium-darkness);
}

/* Settings */

.grabber-1TZCZi { border-radius: var(--rounding-level); }

.side-2nYO0F .itemSelected-3XxAMf { background-color: var(--primary-color); }

.bar-2cFRGz {
	background-color: var(--light-darkness) !important;
}

.barFill-18ABna { background: var(--primary-color) !important; }

/* Auto-complete */

.theme-dark .autocomplete-1TnWNR, .theme-light .autocomplete-1TnWNR, .theme-dark .selectorSelected-2M0IGv, .theme-light .selectorSelected-2M0IGv {
	border-radius: 0%;
	background-color: var(--heavy-darkness);
}

/* Image Viewer */

.downloadLink-wANcd8 {
	background-color: var(--primary-color);
	color: white;
	opacity: 1;
	padding: 10px;
	margin: 10px;
	transition: background var(--fade-time);
}

.downloadLink-wANcd8:hover {
	background-color: var(--secondary-color);
}

.modal-2LIEKY > div > div:not([class]) {
	text-align: center;
	padding: 10px;
}

.modal-2LIEKY > div > div > .imageWrapper-38T7d9 {
	text-align: left;
}

.modal-2LIEKY > div > div > div:nth-child(2):not([class]) {
	text-align: center;
	line-height: 45px;
	height: 45px;
}

/* Upload Window */

.inner-1-09ZV > div.file-XhJJS_ > div.icon-19bbE_.image-sUU6Oh {
	height: 500px !important;
	width: 500px !important;
	margin: 0px !important;
}

.uploadModal-2KN6Mm .inner-1-09ZV {
	height: 500px;
	width: 500px;
	border: none;
}

.modal-2LIEKY > div > div > div.inner-1-09ZV > div.file-XhJJS_ > div.icon-19bbE_.image-sUU6Oh {
	border-radius: var(--rounding-level);
	border: none;
}

.inner-1-09ZV > div.comment-1faMgX {
	top: 82.5%;
	position: relative;
}

.uploadModal-2KN6Mm .footer-4pOKm8 {
	background-color: transparent;
	height: 100px !important;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button {
	background-color: var(--primary-color) !important;
	color: white !important;
	border-radius: var(--rounding-level) !important;
	margin-left: 10px;
	margin-right: 10px;
	top: 71%;
	right: 30%;
	transition: background var(--fade-time);
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button:hover {
	background-color: var(--secondary-color) !important;
	opacity: 1;
	text-decoration: none;
}

@keyframes message-sending-pulse {
    0% { color: #A5A5A5; }
    50% { color: var(--primary-color); }
    100% { color: #A5A5A5; }
}

@keyframes rainbow {
    0% { color: #9400D3; }
    14% { color: #4B0082; }
    28% { color: #0000FF; }
    42% { color: #00FF00; }
    56% { color: #FFFF00; }
    70% { color: #FF7F00; }
    84% { color: #FF0000; }
    100% { color: #9400D3; }
}
