/*//META{"name" : "TomsThemeSource", "description" : "( ͡° ͜ʖ ͡°)", "author" : "Metalloriff", "version":"1.0"}*//*/

/* Import the theme using this: @import url("https://rawgit.com/Metalloriff/BetterDiscordThemes/master/TomsThemeSource.theme.css"); */

/* Variables */

:root {
	--primary-color: #238aff;
	--secondary-color: violet;
	--unread-color: #ff4747;
	--online-color: #009dff;
	--idle-color: #ffcb21;
	--dnd-color: #ff2d38;
	--offline-color: #191919;
	--background-image: rgb(30, 30, 30);
	--background-type: cover;
	--global-background-darkness: 0;
	--background-blur: 0;
	--avatar-rounding: 5px;
	--chat-avatar-size: 70px;
	--light-darkness: rgba(0, 0, 0, 0.3);
	--medium-darkness: rgba(0, 0, 0, 0.5);
	--heavy-darkness: rgba(10, 10, 10, 0.9);
	--popout-background-color: #191919;
	--font: Helvetica; /* Default is Whitney */
	--message-spacing: 5px;
	--fade-time: 0.3s;
}

* { font-family: var(--font) !important; }

/* Main */

#app-mount::before {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--background-image);
	background-size: var(--background-type);
	filter: blur(var(--background-blur));
}

.app {
	background: rgba(0, 0, 0, var(--global-background-darkness));
}

#app-mount [class*=layer], #app-mount [class*=content-region], #app-mount [class*=sidebar-region], #app-mount [class*=sidebar-view], #app-mount .chat, #app-mount [class*=channels], #app-mount [class*=container], .guilds-wrapper, #app-mount .chat > .content, #app-mount .messages-wrapper, #app-mount .chat form, #app-mount [class*=members], #app-mount [class*=typing-], #app-mount #friends, #friends .friends-table, #app-mount [class*=headerBar] {
	background: transparent;
}

.chat div, .chat span { backface-visibility: hidden; }

#app-mount .toast {
	opacity: 1;
	transition: opacity, filter var(--fade-time);
	border-radius: 5px;
}

#app-mount .toast:not(.toast-success):not(.toast-error) { background: var(--heavy-darkness); }

#app-mount .toast:hover {
	opacity: 0.3 !important;
	filter: blur(2px);
}

.chat [class*=channelTextArea] [class*=inner] {
	background-color: transparent;
}

[class*=channels] > [class*=container] {
	background-color: transparent;
	border: none;
}

[style$="background-color: rgb(114, 137, 218);"] {
	background-color: var(--primary-color) !important;
}

#app-mount > :first-child {
	background-color: var(--popout-background-color);
	margin-top: 0px;
	padding-top: 4px;
}

.chat [class*=title-] {
	background: var(--light-darkness);
}

/* User Popouts */

[class*=userPopout] [class*=avatarWrapper], [class*=userPopout] [class*=avatarWrapper] > :first-child > :first-child, [class*=userPopout] [class*=avatarHint-] {
	width: 230px;
	height: 230px;
	background-color: var(--light-darkness);
	border-radius: var(--avatar-rounding);
	margin: 0px;
}

[class*=userPopout] [class*=avatarWrapper] {
	top: -10px;
	margin-bottom: 5px;
}

[class*=userPopout] > [class*=body], [class*=userPopout] > [class*=footer] {
	background-color: var(--popout-background-color);
}

[class*=userPopout] [class*=headerNormal] {
	background-color: var(--popout-background-color);
}

[class*=userPopout] [class*=headerNormal] [class*=headerTop] {
	background-color: rgba(0, 0, 0, 0.3);
}

[class*=userPopout] [class*=headerPlaying] {
	background-color: var(--primary-color);
}

[class*=modal] > [class*=inner] {
	border-radius: 5px;
	background-color: var(--popout-background-color);
}

[class*=modal] > [class*=inner] > [class*=root] > [class*=body] {
	background-color: transparent;
	height: 400px;
}

#app-mount [class*=modal] > [class*=inner] [class*=topSection] [class*=status] {
	width: 83px;
	height: 83px;
}

#app-mount [class*=modal] > [class*=inner] [class*=topSection] [class*=status]::after {
	display: none;
}

[class*=modal] > [class*=inner] [class*=topSectionNormal], [class*=modal] > [class*=inner] [class*=footer], #app-mount [class*=quickMessage] {
	background-color: rgba(0, 0, 0, 0.3);
}

[class*=modal] > [class*=inner] [class*=topSectionPlaying], [class*=modal] > [class*=inner] [class*=lookFilled] {
	background-color: var(--primary-color);
}

/* User Avatars */

[class*=mask], .chat .avatar-large, .avatar-small, .avatar-xxlarge, [class*=image-], [class*=channels] [class*=avatar] {
	-webkit-mask: none;
	border-radius: var(--avatar-rounding);
}

.chat .avatar-large {
	width: var(--chat-avatar-size);
	height: var(--chat-avatar-size);
	background-size: cover;
}

/* User Statuses */

[class*=member] [class*=status], .avatar-small .status {
	border-radius: var(--avatar-rounding);
	background-color: transparent;
	top: 0px;
	right: 0px;
	width: 27px;
	height: 27px;
	transition: border 2s;
}

[class*=container] .status {
	pointer-events: none;
}

[class*=status][class*=online], #app-mount .avatar-small .status-online { border: 3px solid var(--online-color); }
[class*=status][class*=idle] { border: 3px solid var(--idle-color); }
[class*=status][class*=dnd] { border: 3px solid var(--dnd-color); }
[class*=status][class*=offline] { border: 3px solid var(--offline-color); }

[class*=status][class*=typing] {
	background-color: rgba(0, 0, 0, 0.5);
	left: 0px;
}

#app-mount [class*=statusProfile] {
	width: 228px;
	height: 228px;
	top: -6px;
	left: -6px;
	border-radius: 5px;
	border-width: 7px;
	box-shadow: none;
	background-color: transparent;
}

[class*=statusProfile]::after {
	content: "";
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
	padding: 3px;
	border-radius: 5px;
	font-size: 20px;
}

#app-mount [class*=statusProfile][class*=online]::after {
	content: "Online";
	background: var(--online-color);
}

#app-mount [class*=statusProfile][class*=idle]::after {
	content: "Idle";
	background: var(--idle-color);
}

#app-mount [class*=statusProfile][class*=dnd]::after {
	content: "Do Not Disturb";
	background: var(--dnd-color);
}

#app-mount [class*=statusProfile][class*=offline]::after {
	content: "Offline";
	background: var(--offline-color);
}

/* Guild Icons */

.guilds.scroller {
	background: var(--light-darkness);
}

.guild {
	margin-bottom: 15px;
	transition: transform var(--fade-time);
}

.guild.unread:not(.selected)::before { display: none; }

.guild.unread::after {
	content: "";
	border-radius: 100%;
	width: 15px;
	height: 15px;
	top: -4px;
	left: -4px;
	position: absolute;
	background: var(--unread-color);
}

#app-mount .guild.selected::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid var(--primary-color);
	position: absolute;
	top: 30px;
	left: -20px;
	background: none;
}

.guild.selected, .guild:hover {
	transform: translateX(10px);
}

.guild-inner {
	border-radius: var(--avatar-rounding) !important;
}

.guilds-wrapper {
	width: 88px;
}

/* Scrollbars */

#app-mount *::-webkit-scrollbar {
	max-width: 10px;
}

#app-mount *::-webkit-scrollbar-track-piece {
	background: transparent;
	border: none;
	border-radius: 5px;
}

#app-mount *:hover::-webkit-scrollbar-track-piece {
	background: var(--light-darkness);
	border-radius: 5px;
}

#app-mount *::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border: none;
	border-radius: 5px;
}

#app-mount *::-webkit-scrollbar-button {
	display: none;
}

/* Bot Tags */

[class*=botTag] {
	padding: 3px;
	letter-spacing: 0.8px;
	font-weight: bolder;
}

[class*=botTagRegular] {
	background-color: var(--primary-color);
}

/* Channels */

:not([class*=Voice]) > [class*=marginReset] > svg {
	display: none;
}

[class*=iconSpacing] > svg {
	opacity: 1;
}

[class*=channels] {
	width: 275px;
}

[class*=channels] [class*=scroller] div > div:not(:first-child):last-child > div {
	border-radius: 0px 0px 5px 5px;
}

[class*=channels] [class*=containerDefault] > div > div {
	background: none;
}

[class*=channels] [class*=wrapper] {
	background: var(--light-darkness);
	margin: 0 10px;
	transition: background var(--fade-time);
}

[class*=channels] [class*=wrapperSelected] {
	background: linear-gradient(to right, var(--primary-color), var(--light-darkness) 50%);
}

[class*=channels] [class*=container] > [class*=wrapper][style*=flex] {
	padding: 0px;
	margin: 0 10px;
	background: var(--medium-darkness);
	border-radius: 5px 5px 0px 0px;
}

[class*=channels] [class*=wrapperCollapsed] {
	border-radius: 5px;
}

[class*=channels] [class*=wrapperUnread] {
	background: var(--unread-color);
}

[class*=channels] [class*=wrapperHovered] {
	background: var(--medium-darkness);
}

[class*=channels] [class*=wrapper] > [class*=name] {
	text-transform: capitalize;
	color: white;
	opacity: 1;
	font-size: 15px;
	text-align: center;
}

[class*=channels] [class*=content] > [class*=name] {
	text-transform: capitalize;
	color: white;
	opacity: 0.9;
}

[class*=channels] [class*=Muted] {
	opacity: 0.5;
}

/* Chat Messages */

.message-group {
	margin: 0px;
	margin-top: 10px;
	padding: 20px 20px;
	padding-right: 5px;
	background: var(--light-darkness);
	border-radius: 5px;
	width: 98%;
	margin-left: 1%;
}

.message-group.has-divider {
	margin-bottom: 10px;
}

#app-mount .message-group.is-local-bot-message {
	background: var(--unread-color);
	background-image: none;
	box-shadow: none;
}

#app-mount .message-text .markup {
	color: white;
	margin-right: 40px;
}

#app-mount .timestamp {
	float: right;
	color: white;
	opacity: 0.75;
}

#app-mount .divider::before, .divider div { display: none; }

#app-mount .divider span {
	background: none;
	width: 100%;
	font-size: 13px;
	color: white;
	line-height: 20px;
}

#app-mount .divider-red {
	background-color: var(--unread-color);
	border-radius: 5px;
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	width: 98%;
	margin-left: 1%;
}

#app-mount .divider:not(.divider-red) {
	background-color: var(--primary-color);
	border-radius: 5px;
	margin: 10px 0px;
	padding: 10px 0px;
	text-align: center;
	width: 98%;
	margin-left: 1%;
}

.chat .new-messages-bar {
	background-color: var(--unread-color);
}

#app-mount .chat .new-messages-bar button {
	color: white;
}

.chat img { border-radius: 5px; }

#app-mount .message-group-blocked {
	margin: 20px 0px;
	margin-bottom: 40px;
	width: 98%;
	margin-left: 1%;
}

#app-mount .message-group-blocked:not(.revealed) {
	height: 10px;
	background: transparent;
	border: none;
	border-radius: 5px;
}

#app-mount .message-group-blocked.revealed {
	background: var(--medium-darkness);
	border: none;
}

#app-mount .message-group-blocked.revealed .message-group {
	width: 95%;
	margin-bottom: 20px;
}

#app-mount .message-group-blocked-btn {
	background: var(--light-darkness);
	color: white;
}

#app-mount [class^=base] h1 {
	color: white;
	background: var(--light-darkness);
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#app-mount [class^=base] h1 strong {
	color: var(--primary-color);
}

#app-mount .mention {
	color: var(--primary-color);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 5px var(--primary-color);
}

/* DMs */

.channel.private {
	background-color: var(--light-darkness);
	border-radius: 5px;
	margin-bottom: 5px;
	margin-left: 1%;
	width: 262px;
}

#app-mount .private a { background: transparent; }

.channel.selected.private {
	background-color: var(--primary-color);
}

:hover.private {
	background-color: var(--medium-darkness);
}

#friends .friends-table .friends-row {
	background-color: var(--light-darkness);
	border-radius: 5px;
	margin: 10px 0px;
	padding: 20px;
	width: 99%;
}

/* Voice Channels */

[class*=channels] [class*=container] [class*=list] {
	padding-left: 5px;
}

[class*=channels] [class*=container] [class*=draggable] > :first-child {
	height: 50px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=name] {
	padding-left: 15px;
	font-size: 15px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=avatar] {
	width: 40px;
	height: 40px;
	background-size: 40px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=avatarSpeaking] {
	box-shadow: 0 0 0 2px var(--primary-color);
}

/* Members */

#app-mount [class*=members] [class*=membersGroup] {
	color: white;
	background-color: var(--light-darkness);
	border-radius: 5px;
	padding: 5px;
	margin-left: 7.5px;
	margin-right: 3px;
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: center;
	height: 30px;
	text-transform: capitalize;
	cursor: default;
}

#app-mount [class*=member] [class*=content] {
	background: none;
}

[class*=members] [class*=member-] {
	border-radius: 5px;
	background: var(--light-darkness);
	margin-bottom: 5px;
	width: 95%;
	transition: all var(--fade-time);
}

[class*=members] [class*=member-]:hover {
	background-color: var(--heavy-darkness);
	transform: scale(1.05);
}

[class*=members] [class*=member-] [class*=activityText] {
	color: var(--secondary-color);
}

[class*=members] [class*=content] {
	flex-direction: row-reverse;
}

[class*=members] [class*=member-] [class*=activityText] strong {
	color: white;
}

[class*=members] [class*=member-] [class*=avatarWrapper] {
	margin-right: 0px;
	left: 0px;
}

[class*=members] [class*=member-] [class*=memberInner] {
	width: 160px;
	margin-right: 10px;
}

/* Context Menus & Popouts */

[class*=theme-][class*=popout] > [class*=popout]::before {
	content: "";
	bottom: 0;
	left: -2000px;
	position: fixed;
	right: -2000px;
	top: -2000px;
	bottom: -2000px;
	z-index: -1;
	pointer-events: none;
	background-color: var(--medium-darkness);
	animation: fade-to-medium var(--fade-time);
}

[class*=contextMenu] {
	border-radius: 5px;
	padding: 10px;
}

[class*=contextMenu], [class*=contextMenu] [class*=itemSubMenu], #app-mount [class*=menu-] {
	background-color: var(--popout-background-color);
}

[class*=contextMenu] [class*=item-] {
	padding: 10px;
}

[class*=contextMenu] [class*=itemGroup]:not(:first-child) { padding-top: 10px; }
[class*=contextMenu] [class*=itemGroup]:not(:last-child) { padding-bottom: 10px; }

[class*=contextMenu] [class*=item-]:hover {
	background-color: var(--heavy-darkness);
}

#app-mount .checkbox span {
	border-radius: 100%;
}

#app-mount .checkbox .checkbox-inner input[type=checkbox]:checked+span {
	border: none;
	background-color: var(--primary-color);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
	display: none;
}

[class*=barFill] {
	background: var(--primary-color);
}

[class*=theme-][class*=popout] > [class*=popout], #app-mount [class*=menu-] {
	border-radius: 5px;
	padding: 12px;
	padding-bottom: 0px;
	padding-right: 26px;
}

#app-mount [class*=menu-] > div {
	margin-left: 6px;
}

#app-mount [class*=popoutBottom] {
	padding-top: 0px;
}

#app-mount [class*=menu-] [class*=item-]:hover {
	background-color: var(--medium-darkness);
}

/* Settings */

[class*=group-], [class*=switchItem-] {
	background: var(--light-darkness);
	border-radius: 5px;
	padding: 10px;
}

[class*=side-] [class*=item-] {
	background: var(--light-darkness);
	color: white;
}

#app-mount [class*=description-], #app-mount [class*=labelDescriptor-] {
	color: white;
}

#app-mount [class*=cardPrimaryEditable-] {
	border: none;
	background-color: var(--medium-darkness);
	border-radius: 5px;
}

[class*=cardPrimaryEditable-][style*="background-color"] {
	background-color: var(--primary-color) !important;
}

#app-mount [class*=checkbox-] {
	border-radius: 100%;
	border: 2px solid white;
}

#app-mount [class*=checked-] {
	background-color: white;
	border-color: white !important;
}

#app-mount [class*=checked-] svg {
	display: none;
}

#app-mount [class*=themeDefault-] {
	background-color: var(--medium-darkness);
	border: 5px solid var(--medium-darkness);
}

#app-mount [class*=themeDefault-]:after {
	display: none;
}

#app-mount [class*=valueChecked-] {
	background-color: var(--primary-color);
}

#app-mount [class*=switch-] {
	width: 23px;
	height: 23px;
}

/* Auto-complete */

[class*=theme-] [class*=autocomplete-] {
	background: linear-gradient(0deg, transparent 0%, var(--popout-background-color) 5%);
	padding-bottom: 15px;
	width: 400px;
}

[class*=theme-] [class*=selectorSelected-] {
	background: var(--light-darkness);
}

/* Animations */

@keyframes fade-to-medium {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: var(--medium-darkness);
	}
}
