/*//META{"name" : "TomsThemeSource", "description" : "( ͡° ͜ʖ ͡°)", "author" : "Metalloriff", "version":"1.0"}*//*/

/* Import the theme using this: @import url("https://rawgit.com/Metalloriff/BetterDiscordThemes/master/TomsThemeSource.theme.css"); */

/* Variables */

:root {
	--primary-color: #238aff;
	--secondary-color: violet;
	--unread-color: #ff4747;
	--online-color: #009dff;
	--idle-color: #ffcb21;
	--dnd-color: #ff2d38;
	--offline-color: #191919;
	--background-image: rgb(30, 30, 30);
	--background-type: cover;
	--global-background-darkness: 0;
	--background-blur: 0;
	--avatar-rounding: 5px;
	--chat-avatar-size: 70px;
	--light-darkness: rgba(0, 0, 0, 0.3);
	--medium-darkness: rgba(0, 0, 0, 0.5);
	--heavy-darkness: rgba(10, 10, 10, 0.9);
	--popout-background-color: #191919;
	--font: Helvetica; /* Default is Whitney */
	--message-spacing: 5px;
	--fade-time: 0.3s;
}

/* Main */

#app-mount, ::-webkit-input-placeholder, body, button, input, select, textarea { font-family: var(--font); }

#app-mount::before {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--background-image);
	background-size: var(--background-type);
	filter: blur(var(--background-blur));
}

.app {
	background: rgba(0, 0, 0, var(--global-background-darkness));
}

#app-mount [class*=layer], #app-mount [class*=content-region], #app-mount [class*=sidebar-region], #app-mount [class*=sidebar-view], #app-mount [class^=chat-], #app-mount [class*=channels], :not(.messages) [class*=container], #app-mount [class^=chat-] > [class*=content], #app-mount [class*=chat-] [class*=messagesWrapper], #app-mount [class^=chat-] form, #app-mount [class*=members], #app-mount [class*=typing-], #app-mount #friends, #friends .friends-table, #app-mount [class*=headerBar], [class*=theme-] [class*=activityFeed] {
	background: transparent;
}

[class^=chat-] div, [class^=chat-] span { backface-visibility: hidden; }

#app-mount .toast {
	opacity: 1;
	transition: opacity, filter var(--fade-time);
	border-radius: 5px;
}

#app-mount .toast:not(.toast-success):not(.toast-error) { background: var(--heavy-darkness); }

#app-mount .toast:hover {
	opacity: 0.3 !important;
	filter: blur(2px);
}

[class^=chat-] [class*=channelTextArea] [class*=inner] {
	background-color: transparent;
}

[class*=channels] > [class*=container] {
	background-color: transparent;
	border: none;
}

[style$="background-color: rgb(114, 137, 218);"] {
	background-color: var(--primary-color) !important;
}

#app-mount > :first-child {
	background-color: var(--popout-background-color);
	margin-top: 0px;
	padding-top: 4px;
}

[class^=chat-] [class*=titleWrapper-] > :first-child, .private-channels .search-bar, [class*=container] > [class*=header] {
	background: var(--light-darkness);
}

[class*=unreadBar] {
	background: var(--unread-color);
}

/* User Popouts */

[class*=userPopout] [class*=avatarWrapper], [class*=userPopout] [class*=avatarWrapper] > :first-child > :first-child, [class*=userPopout] [class*=avatarHint-] {
	width: 230px;
	height: 230px;
	background-color: var(--light-darkness);
	border-radius: var(--avatar-rounding);
	margin: 0px;
}

[class*=userPopout] [class*=avatarWrapper] {
	top: -10px;
	margin-bottom: 5px;
}

[class*=userPopout] > [class*=body], [class*=userPopout] > [class*=footer] {
	background-color: var(--popout-background-color);
}

[class*=userPopout] [class*=headerNormal] {
	background-color: var(--popout-background-color);
}

[class*=userPopout] [class*=headerNormal] [class*=headerTop] {
	background-color: rgba(0, 0, 0, 0.3);
}

[class*=userPopout] [class*=headerPlaying] {
	background-color: var(--primary-color);
}

[class*=modal] > [class*=inner] {
	border-radius: 5px;
}

[class*=modal] > [class*=inner] > [class*=root] > [class*=body] {
	background-color: transparent;
	height: 400px;
}

#app-mount [class*=modal] > [class*=inner] [class*=topSection] [class*=status] {
	width: 83px;
	height: 83px;
}

#app-mount [class*=modal] > [class*=inner] [class*=topSection] [class*=status]::after {
	display: none;
}

[class*=modal] > [class*=inner] [class*=topSectionNormal], [class*=modal] > [class*=inner] [class*=footer], #app-mount [class*=quickMessage] {
	background-color: rgba(0, 0, 0, 0.3);
}

[class*=modal] > [class*=inner] [class*=topSectionPlaying], [class*=modal] > [class*=inner] [class*=lookFilled] {
	background-color: var(--primary-color);
}

/* User Avatars */

[class*=mask], [class^=chat-] [class*=large-], .avatar-small, .avatar-xxlarge, [class*=image-], [class*=channels] [class*=avatar] {
	-webkit-mask: none;
	border-radius: var(--avatar-rounding);
	margin: 0;
	margin-right: 10px;
}

[class^=chat-] [class*=large-] {
	width: var(--chat-avatar-size);
	height: var(--chat-avatar-size);
	background-size: cover;
}

/* User Statuses */

[class*=member] [class*=status], .avatar-small .status {
	border-radius: var(--avatar-rounding);
	background-color: transparent;
	top: 0px;
	right: 0px;
	width: 27px;
	height: 27px;
	transition: border 2s;
}

[class*=container] .status {
	pointer-events: none;
}

#app-mount [class*=status][class*=online], #app-mount .avatar-small .status-online { border: 3px solid var(--online-color); }
#app-mount [class*=status][class*=idle] { border: 3px solid var(--idle-color); }
#app-mount [class*=status][class*=dnd] { border: 3px solid var(--dnd-color); }
#app-mount [class*=status][class*=offline] { border: 3px solid var(--offline-color); }

#app-mount [class*=status][class*=typing] {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: calc(100% - 14.44px);
}

#app-mount [class*=statusProfile][class*=status] {
	width: 228px;
	height: 228px;
	top: -6px;
	left: -6px;
	border-radius: 5px;
	border-width: 7px;
	box-shadow: none;
	background-color: transparent;
}

[class*=statusProfile]::after {
	content: "";
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
	padding: 3px;
	border-radius: 5px;
	font-size: 20px;
}

#app-mount [class*=statusProfile][class*=online]::after {
	content: "Online";
	background: var(--online-color);
}

#app-mount [class*=statusProfile][class*=idle]::after {
	content: "Idle";
	background: var(--idle-color);
}

#app-mount [class*=statusProfile][class*=dnd]::after {
	content: "Do Not Disturb";
	background: var(--dnd-color);
}

#app-mount [class*=statusProfile][class*=offline]::after {
	content: "Offline";
	background: var(--offline-color);
}

/* Guild Icons */

#app-mount [class*=guildsWrapper] {
	background: var(--light-darkness);
}

[class*=guilds-] > [class*=guild-] {
	margin-bottom: 15px;
	transition: transform var(--fade-time);
}

[class*=guilds-] > [class*=guild-][class*=unread]:not(.selected)::before { display: none; }

[class*=guilds-] > [class*=guild-][class*=unread]::after {
	content: "";
	border-radius: 100%;
	width: 15px;
	height: 15px;
	top: -4px;
	left: -4px;
	position: absolute;
	background: var(--unread-color);
}

#app-mount [class*=guilds-] > [class*=guild-][class*=selected]::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid var(--primary-color);
	[class*=guildInner-]
	top: 30px;
	left: -20px;
	background: none;
}

[class*=guilds-] > [class*=guild-][class*=selected], [class*=guilds-] > [class*=guild-]:hover {
	transform: translateX(10px);
}

[class*=guildInner-] {
	border-radius: var(--avatar-rounding) !important;
}

[class*=guildsWrapper-] {
	width: 88px;
}

/* Scrollbars */

#app-mount *::-webkit-scrollbar {
	max-width: 10px;
}

#app-mount *::-webkit-scrollbar-track-piece {
	background: transparent;
	border: none;
	border-radius: 5px;
}

#app-mount *:hover::-webkit-scrollbar-track-piece {
	background: var(--light-darkness);
	border-radius: 5px;
}

#app-mount *::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border: none;
	border-radius: 5px;
}

#app-mount *::-webkit-scrollbar-button {
	display: none;
}

/* Bot Tags */

[class*=botTag] {
	padding: 3px;
	letter-spacing: 0.8px;
	font-weight: bolder;
	margin-left: 5px;
}

[class*=botTagRegular] {
	background-color: var(--primary-color);
}

/* Channels */

[class*=channels] :not([class*=Voice]) > [class*=marginReset] > svg, [class^=channelName] > svg {
	display: none;
}

[class*=channels] [class*=marginReset] > svg {
	opacity: 1;
	color: white;
}

[class*=channels] [class*=marginReset] > svg > path {
	opacity: 0.8;
}

[class*=channels] [class*=iconSpacing] > svg {
	opacity: 1;
}

[class*=channels] {
	width: 300px;
}

[class*=channels] [class*=scroller] div > div:not(:first-child):last-child > div {
	border-radius: 0px 0px 5px 5px;
}

[class*=channels] [class*=containerDefault] > div > div {
	background: none;
}

[class*=channels] [class*=wrapper] {
	background: var(--light-darkness);
	margin: 0 10px;
	transition: background var(--fade-time);
}

[class*=channels] [class*=wrapperSelected] {
	background: linear-gradient(to right, var(--primary-color), var(--light-darkness) 50%);
}

[class*=channels] [class*=container] > [class*=wrapper][style*=flex] {
	padding: 0px;
	margin: 0 10px;
	background: var(--medium-darkness);
	border-radius: 5px 5px 0px 0px;
}

[class*=channels] [class*=wrapperCollapsed] {
	border-radius: 5px;
}

[class*=channels] [class*=wrapperUnread] {
	background: var(--unread-color);
}

[class*=channels] [class*=wrapperHovered] {
	background: var(--medium-darkness);
}

[class*=channels] [class*=wrapper] > [class*=name] {
	text-transform: capitalize;
	color: white;
	opacity: 1;
	font-size: 15px;
	text-align: center;
}

[class*=channels] [class*=content] > [class*=name], [class^=channelName] {
	text-transform: capitalize;
	color: white;
	opacity: 0.9;
}

[class*=channels] [class*=Muted] {
	opacity: 0.5;
}

/* Chat Messages */

[class^=chat-] [class^=messages-][class*=scroller] > [class*=container-] {
	margin: 0px;
	margin-top: 10px;
	padding: 20px 20px;
	padding-right: 5px;
	background: var(--light-darkness);
	border-radius: 5px;
	width: 98%;
	margin-left: 1%;
	min-height: 108px;
}

[class^=chat-] [class^=messages-][class*=scroller] > [class*=container-] hr {
	display: none;
}

[class^=chat-] [class^=messages-][class*=scroller] > [class*=container-].has-divider {
	margin-bottom: 10px;
}

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-].is-local-bot-message {
	background: var(--unread-color);
	background-image: none;
	box-shadow: none;
}

#app-mount [class*=markup] {
	color: white;
	margin-right: 40px;
}

[class*=message] [class*=container] {
	margin-left: 5px;
}

#app-mount .timestamp {
	float: right;
	color: white;
	opacity: 0.75;
}

#app-mount [class*=divider-]::before, [class*=divider-] div { display: none; }

#app-mount [class*=divider-] {
	margin: 30px 0;
}

#app-mount [class*=divider-] span {
	background: none;
	width: 100%;
	font-size: 13px;
	color: white;
	line-height: 20px;
	border-radius: 5px;
	margin-left: 9px;
}

#app-mount [class*=dividerRed] span {
	font-weight: bolder;
	background: linear-gradient(to right, var(--unread-color), transparent 50%);
}

#app-mount [class*=divider-]:not([class*=dividerRed]) span {
	background: linear-gradient(to right, var(--medium-darkness), transparent 50%);
}

[class^=chat-] [class^=newMessagesBar] {
	background-color: var(--unread-color);
}

#app-mount [class^=chat-] [class^=newMessagesBar] button {
	color: white;
}

#app-mount [class^=chat-] [class^=newMessagesBar] button:not(:first-child):hover {
	color: black;
}

[class^=chat-] img { border-radius: 5px; }

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-]-blocked {
	margin: 20px 0px;
	margin-bottom: 40px;
	width: 98%;
	margin-left: 1%;
}

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-]-blocked:not(.revealed) {
	height: 10px;
	background: transparent;
	border: none;
	border-radius: 5px;
}

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-]-blocked.revealed {
	background: var(--medium-darkness);
	border: none;
}

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-]-blocked.revealed [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-] {
	width: 95%;
	margin-bottom: 20px;
}

#app-mount [class^=chat-] [class^=messages-][class*=scroller] > [class*=container-]-blocked-btn {
	background: var(--light-darkness);
	color: white;
}

#app-mount [class^=base] h1 {
	color: white;
	background: var(--light-darkness);
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#app-mount [class^=base] h1 strong {
	color: var(--primary-color);
}

#app-mount .mention {
	color: var(--primary-color);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 5px var(--primary-color);
}

[class^=chat-] [class*=markup] a {
	color: var(--primary-color);
	transition: text-shadow var(--fade-time);
}

[class^=chat-] [class*=markup] a:hover {
	text-decoration: none;
	text-shadow: var(--primary-color) 0 0 5px;
}

[class^=chat-] [class^=username-] {
	transition: opacity var(--fade-time);
}

[class^=chat-] [class^=username-]:hover {
	text-decoration: none;
	opacity: 0.7;
}

[class^=chat] [class*=container] {
	z-index: 0;
}

[class*=isMentioned]:after {
	border: none;
	width: 0;
}

[class*=isMentioned]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-color);
	z-index: -1;
	transform: translate3d(0, 0, 0);
	opacity: 0.5;
	border-radius: 5px;
}

/* Embeds */

[class^=chat-] [class*=invite], [class^=chat-] [class*=embedInner], [class^=chat-] .message .accessory > [class*=wrapper] {
	background: var(--light-darkness);
	border: none;
	border-radius: 5px;
}

[class^=chat-] [class*=embedInner] {
	border-radius: 0 5px 5px 0;
}

[class^=chat-] [class*=embedPill] {
	background-color: var(--primary-color);
}

/* Games Tab */

[class*=theme-] [class*=activityFeed] [class*=flex][class*=directionRow][class*=justifyCenter], [class*=theme-] [class*=activityFeed] [class*=dock-] {
	background: var(--light-darkness);
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 15px;
}

[class*=theme-] [class*=activityFeed] [class*=dock-] {
	padding: 10px;
}

[class*=theme-] [class*=activityFeed] [class*=dock-] [class*=dockItem-]:hover {
	background: var(--medium-darkness);
}

[class*=theme-] [class*=activityFeed] [class^=column-] {
	margin: 0;
}

[class*=theme-] [class*=activityFeed] [class*=card-] {
	background: none;
	margin: 10px;
}

[class*=theme-] [class*=activityFeed] [class*=cardHeader] {
	background-color: var(--medium-darkness);
}

[class*=theme-] [class*=activityFeed] [class*=cardBody] {
	background-color: var(--light-darkness);
}

[class*=theme-] [class*=activityFeed] [class*=headerText] {
	border: none;
}

#app-mount [class*=theme-] [class*=activityFeed] button {
	background: var(--light-darkness);
}

#app-mount [class*=theme-] [class*=activityFeed] button:hover {
	background: var(--primary-color);
}

[class*=theme-] [class*=activityFeed] [class*=status] {
	background: none;
	border-radius: 5px;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
}

/* DMs */

.channel.private [class*=wrapper] {
	margin: 0;
	margin-right: 5px;
}

.channel.private, .private-channels .channel a {
	background-color: var(--light-darkness);
	border-radius: 5px;
	margin-bottom: 5px;
	margin-left: 1%;
	margin-right: 5px;
	transition: background var(--fade-time);
}

.channel.private .channel-name {
	color: white;
	opacity: 0.7;
	transition: all var(--fade-time);
}

#app-mount .private a { background: transparent; }

.channel.selected.private, .private-channels .channel.selected a {
	background-color: var(--primary-color);
}

.private:hover, .private-channels .channel:hover a {
	background-color: var(--medium-darkness);
}

#friends {
	margin-left: 5px;
}

#friends .friends-table .friends-row, #friends .friends-table .friends-row:hover {
	background-color: var(--light-darkness);
	border-radius: 5px;
	margin: 10px 0px;
	padding: 20px;
	width: 99%;
	transition: background var(--fade-time);
}

[class*=theme-] #friends .friends-table .friends-row:hover {
	background: var(--medium-darkness);
}

#friends .friends-table .friends-row .friends-column-actions {
	visibility: visible;
	opacity: 0;
	transition: opacity var(--fade-time);
	padding-right: 12px;
}

#friends .friends-table .friends-row:hover .friends-column-actions {
	opacity: 1;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
	background-color: var(--medium-darkness);
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
	background-color: var(--primary-color);
}

#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove:hover {
	background-color: var(--unread-color);
}

#friends [class*=iconSizeSmall], #friends .avatar-small {
	border-radius: 5px;
	width: 40px;
	height: 40px;
	background-size: cover;
}

[class*=titleText] {
	overflow: visible;
	height: 30px;
}

[class*=titleText] > [class*=status] {
	width: 0;
	height: 0;
	border: none;
}

[class*=titleText] > [class*=status]::after {
	content: "";
	position: absolute;
	bottom: -10px;
	margin-left: 5px;
	color: white;
	padding: 0px 3px;
	border-radius: 5px;
	font-size: 14px;
}

#app-mount [class*=titleText] > [class*=status][class*=online]::after {
	content: "Online";
	background: var(--online-color);
}

#app-mount [class*=titleText] > [class*=status][class*=idle]::after {
	content: "Idle";
	background: var(--idle-color);
}

#app-mount [class*=titleText] > [class*=status][class*=dnd]::after {
	content: "Do Not Disturb";
	background: var(--dnd-color);
}

#app-mount [class*=titleText] > [class*=status][class*=offline]::after {
	content: "Offline";
	background: var(--offline-color);
}

#app-mount [class*=titleText] > [class*=status] {
	border: none;
	background: none;
}

#app-mount [class*=titleText] > [class*=status]:after {
	margin-bottom: 6px;
}

#app-mount [class^=topic]:not([class*=expandable]) {
	margin-bottom: 5px;
}

#app-mount [class^=topic-] > [class^=aka-] {
	margin-left: 30px;
	background: var(--primary-color);
}

/* Voice Channels */

[class*=channels] [class*=container] [class*=list] {
	padding: 0;
	padding-left: 5px;
	margin: 0 10px;
	background: var(--medium-darkness);
}

[class*=channels] [class*=container] [class*=draggable] > :first-child {
	height: 50px;
	margin-right: 10px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=name] {
	padding-left: 15px;
	font-size: 15px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=avatar] {
	width: 40px;
	height: 40px;
	background-size: 40px;
}

[class*=channels] [class*=container] [class*=draggable] [class*=avatarSpeaking] {
	box-shadow: 0 0 0 2px var(--primary-color);
}

#app-mount [class*=channels] [class*=ConnectedVoice] {
	color: var(--primary-color);
}

[class*=channels] [class*=wrapperConnectedVoice] {
	background: var(--medium-darkness);
}

/* Members */

#app-mount [class*=members] [class*=membersGroup] {
	color: white;
	background-color: var(--light-darkness);
	border-radius: 5px;
	padding: 5px;
	margin-left: 7.5px;
	margin-right: 3px;
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: center;
	height: 30px;
	text-transform: capitalize;
	cursor: default;
}

#app-mount [class*=member] [class*=content] {
	background: none;
}

[class*=members] [class*=member-] {
	border-radius: 5px;
	background: var(--light-darkness);
	margin-bottom: 5px;
	width: 95%;
	transition: all var(--fade-time);
}

[class*=members] [class*=member-]:hover {
	background-color: var(--heavy-darkness);
	transform: scale(1.05);
}

[class*=members] [class*=member-] [class*=activityText] {
	color: var(--secondary-color);
}

[class*=members] [class*=content] {
	flex-direction: row-reverse;
}

[class*=members] [class*=member-] [class*=activityText] strong {
	color: white;
}

[class*=members] [class*=member-] [class*=avatarWrapper] {
	margin-right: 0px;
	left: 0px;
}

[class*=members] [class*=member-] [class*=memberInner] {
	width: 160px;
	margin-right: 10px;
}

/* Context Menus & Popouts */

[class*=theme-][class*=popout] > [class*=popout]::before {
	content: "";
	bottom: 0;
	left: -2000px;
	position: fixed;
	right: -2000px;
	top: -2000px;
	bottom: -2000px;
	z-index: -1;
	pointer-events: none;
	background-color: var(--medium-darkness);
	animation: fade-to-medium var(--fade-time);
}

[class*=contextMenu] {
	border-radius: 5px;
	padding: 10px;
}

[class*=contextMenu], [class*=contextMenu] [class*=itemSubMenu], #app-mount [class*=menu-] {
	background-color: var(--popout-background-color);
}

[class*=contextMenu] [class*=item-] {
	padding: 10px;
}

[class*=contextMenu] [class*=itemGroup]:not(:first-child) { padding-top: 10px; }
[class*=contextMenu] [class*=itemGroup]:not(:last-child) { padding-bottom: 10px; }

[class*=contextMenu] [class*=item-]:hover {
	background-color: var(--heavy-darkness);
}

#app-mount .checkbox span {
	border-radius: 100%;
}

#app-mount .checkbox .checkbox-inner input[type=checkbox]:checked+span {
	border: none;
	background-color: var(--primary-color);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
	display: none;
}

[class*=barFill] {
	background: var(--primary-color);
}

#app-mount [class*=menu-] > div {
	margin-left: 6px;
}

#app-mount [class*=popoutBottom] {
	padding-top: 0px;
}

#app-mount [class*=menu-] [class*=item-]:hover {
	background-color: var(--medium-darkness);
}

/* Settings */

[class*=group-], [class*=switchItem-] {
	background: var(--light-darkness);
	border-radius: 5px;
	padding: 10px;
}

[class*=side-] [class*=item-] {
	background: var(--light-darkness);
	color: white;
}

#app-mount [class*=description-], #app-mount [class*=labelDescriptor-] {
	color: white;
}

#app-mount [class*=cardPrimaryEditable-] {
	border: none;
	background-color: var(--medium-darkness);
	border-radius: 5px;
}

[class*=cardPrimaryEditable-][style*="background-color"] {
	background-color: var(--primary-color) !important;
}

#app-mount [class*=checkbox-] {
	border-radius: 100%;
	border: 2px solid white;
}

#app-mount [class*=checked-] {
	background-color: white;
	border-color: white !important;
}

#app-mount [class*=checked-] svg {
	display: none;
}

#app-mount [class*=themeDefault-] {
	background-color: var(--medium-darkness);
	border: 5px solid var(--medium-darkness);
}

#app-mount [class*=themeDefault-]:after {
	display: none;
}

#app-mount [class*=valueChecked-] {
	background-color: var(--primary-color);
}

#app-mount [class*=" switch-"] {
	width: 23px;
	height: 23px;
}

/* Auto-complete */

[class*=autocomplete-] [class*=icon-] {
	width: 64px;
}

[class*=autocomplete-] [class*=marginLeft8] {
	margin-left: 20px;
}

[class*=theme-] [class*=autocomplete-] {
	background: linear-gradient(0deg, transparent 0%, var(--popout-background-color) 5%);
	padding-bottom: 15px;
	width: 400px;
}

[class*=theme-] [class*=selectorSelected-] {
	background: var(--light-darkness);
}

/* Animations */

@keyframes fade-to-medium {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: var(--medium-darkness);
	}
}
